.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 58px;

    gap: 20px;
  }
}

.header-authorization {
  margin-top: 23px;
  background-color: #cbdbda;
  border-radius: 9px;
  .header__inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.nav {
  // max-width: 610px;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  &__item {
    cursor: pointer;
  }
  &__item--dropdown {
    position: relative;
    text-align: center;
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 10px;
      height: 1px;
      background-color: var(--text);
      transition: 0.2s linear;
    }
    &::before {
      right: -15px;
      transform: rotate(50deg);
    }
    &::after {
      right: -21px;
      transform: rotate(-50deg);
    }
  }
  &__link {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
    &--dropdown {
      pointer-events: none;
    }
  }
  .active-dropdown {
    &::after {
      transform: rotate(50deg);
    }
    &::before {
      transform: rotate(-50deg);
    }
    .dropdown-menu {
      top: 110%;
      opacity: 1;
      visibility: visible;
    }
  }
}

.autorization {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text);
}

.burger {
  display: none;
  @include burger;
}

.dropdown-menu {
  position: absolute;
  top: 150%;
  left: 0;
  width: 200px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 10px 10px;
  background-color: #cbdbda;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 7px;

  &__item {
  }
  &__link {
    font-size: 15px;
  }
}
