/* stylelint-disable */

@mixin custom-checkbox {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    padding-left: 30px;
    display: flex;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      border: 1px solid #55545a;
      border-radius: 3px;
      width: 18px;
      height: 18px;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      width: 18px;
      height: 18px;
      box-sizing: border-box;
      background-image: url("../img/check.svg");
      background-position: center;
      background-size: 14px 11px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #cbdbda;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
