:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Golos Text", sans-serif;
  --third-family: "Gilroy", sans-serif;
  --font3: "Mazzard", sans-serif;

  --text: #302f3f;
  --violet: #675dd2;
  --green: #a8d5d0;
  --grin: rgba(168, 213, 208, 0.8);

  --blue-gragient: linear-gradient(27deg, #675dd2 0%, #4f38d4 100%);
  --pink: #d165bc;
  --gray: #d1cfe2;
  --white: #fff;
  --light-green: #87dbd1;
}
